$primary: #0496FF;
$success: #4A9687;

@import "bootstrap/scss/bootstrap";

.auth-loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn-wrapper {
  position: absolute;
  right: -12px;
  width: 24px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.add-btn {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  transform-origin: center;
  transition: 150ms all ease-in;
  transform: scale(0);
  background-color: #454ADE;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  display: frid;
  place-items: center;
}

.add-btn-wrapper:hover .add-btn {
  transform: scale(1);
}

.color-button {
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
}

.noti {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--success);
  color: var(--light);
  border-radius: 8px;
  padding: 0.325em 0.625em;
  transition: 150ms all ease-in;
}
.noti.true {
  top: 12px;
  opacity: 1;
}